header {
  background-color: black;
  color: white;
  height: 40px;
}

footer {
  background-color: black;
  color: white;
  height: 40px;
}

.item1 {
  grid-area: nav;
  background-color: lightblue;
  height: 100px;
}

.item3 {
  grid-area: main;
  background-color: lightcoral;
  height: 400px;
}
.item2 {
  grid-area: aside;
  background-color: lightpink;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "aside nav nav nav nav nav"
    "aside main main main main main";
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
